.red{
    background-color: rgb(255, 144, 127);
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
}
.blue{
    background-color:rgb(60, 0, 255);
    color: antiquewhite;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    padding: 200px;
}
.div{
    padding: 200px;
}
*{
    padding: 0;
    margin: 0;
}

.container{
    /* background-image: url('images.jpg');
    background-repeat: no-repeat; 
    background-size:2px 2px 4px 4px;
    /* background-position:bottom; */
     width: 500px;
    height: 1000px;
    border: 2px solid blueviolet;
    /* background-attachment: fixed; */ 
    background:rgb(27, 141, 240) url('images.jpg')  no-repeat fixed;
 
}
